<link rel="stylesheet" href="/styles/main.css" />
<link rel="stylesheet" href="/styles/header.css" />
<link rel="stylesheet" href="/styles/notification.css" />

<div class="header">
  <div class="logo">
    <p>PlyrConnect</p>
  </div>
  <div class="search">
    <i class="bi bi-search"></i>
    <input type="text" placeholder="Search" />
  </div>
  <div class="notify-profile">
    <button class="button notify">
      <i class="bi bi-bell"></i>
    </button>
    <div class="notification-menu" id="notifMenu">
      <ul style="list-style: none; margin: 0; padding: 18px">
        <li style="margin-bottom: 18px; color: #ffec4e; font-weight: bold">
          Notifications
        </li>
        <li>
          <i class="bi bi-info-circle"></i>
          Rockstar confirms GTA 6 release: 2026
          <span>2h ago</span>
        </li>
        <li>
          <i class="bi bi-chat-dots"></i>
          New comment on your post!
          <span>5m ago</span>
        </li>
        <li>
          <i class="bi bi-person"></i>
          IndieGameDev followed you.
          <span>1d ago</span>
        </li>
      </ul>
    </div>
    <button class="button profile">
      <i class="bi bi-person"></i>
    </button>
  </div>
</div>

<script src="/script/script.js"></script>
