<link rel="stylesheet" href="/styles/main.css" />
<link rel="stylesheet" href="/styles/sidebar.css" />

<div class="sidebar">
  <div class="new-post">
    <a href="/post"><button class="post"><i class="bi bi-plus-lg"></i>New Post</button></a>
  </div>
  <div class="navigate">
    <a href="/"><button class="button home" ><i class="bi bi-house"></i>Home</button></a>
    <a href="/forum"><button class="button forum" ><i class="bi bi-question-lg"></i>Forum</button></a>
    <a href="/news"><button class="button news"><i class="bi bi-newspaper"></i>News</button></a>
    <button class="button logout">
      <i class="bi bi-box-arrow-left"></i>Quit
    </button>
  </div>
</div>
