<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="sidebar">
      <div class="new-post">
        <button class="post"><i class="bi bi-plus-lg"></i>New Post</button>
      </div>
      <div class="navigate">
        <button class="button home"><i class="bi bi-house"></i>Home</button>
        <button class="button forum">
          <i class="bi bi-question-lg"></i>Forum
        </button>
        <button class="button news"><i class="bi bi-newspaper"></i>News</button>
        <button class="button logout">
          <i class="bi bi-box-arrow-left"></i>Quit
        </button>
      </div>
    </div>
  </body>
</html>
