<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PlyrConnect</title>
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/index.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
  </head>
  <body>
    <div class="main">
      <%- include("partials/header.ejs") %>
      <%- include("partials/sidebar.ejs") %>

      <div class="feed">
        <div class="title">
          <h1 class="title">Feed</h1>
        </div>
        <div class="cont-title">
          <h2>Title</h2>
        </div>
        <div class="content">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero
            voluptatem aliquam nobis assumenda aperiam sequi quia,
            necessitatibus totam, nulla eveniet ipsum blanditiis repellendus
            quasi voluptates, facilis maxime cupiditate reiciendis! Nulla enim
            cupiditate quod, eveniet necessitatibus accusantium. Commodi natus
            molestias dolorem repellat debitis quia ab accusantium facilis,
            similique officia iure veritatis deleniti a animi labore laborum
            quas vitae vel ipsum asperiores. Harum libero illo laudantium
            expedita?
          </p>
          <div class="caption">
            <p>#Caption</p>
          </div>
          <div class="reactions">
            <div class="likes">
              <div class="like-icon">
                <i class="bi bi-heart"></i>
              </div>
            </div>
            <div class="comments">
              <div class="comment-icon">
                <i class="bi bi-chat-left-text"></i>
              </div>
              <div class="comment">
                <input type="text" placeholder="Add a Comment..." />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="trending-suggested">
        <div class="trending-sec">
          <div class="trending-title">
            <h2>Trending</h2>
          </div>
          <div class="trends">
            <button class="button">#gow</button>
            <button class="button">#lastofus</button>
            <button class="button">#rdr</button>
          </div>
        </div>
        <div class="suggested-sec">
          <div class="suggested-title">
            <h2>Suggested For You</h2>
          </div>
          <div class="suggestions">
            <button class="button"><p>GTA 6 to Release in 2026</p></button>
            <button class="button">
              <p>India going to release a 3D game like Black Myth Wukong!!</p>
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
